/*ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

body {
    background-color: black;
    height: 100vh;
}

.flex {
    display: flex;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ff3131;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #ff3131;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #ff3131;
    transform: scale(1.05);
}

 /* ESTILO DO MENU MOBILE */
 .btn-abrir-menu{
    display: none;
}

 .btn-abrir-menu i {
    color: #ff3131;
    font-size: 35px;
}

.menu-mobile {
    background-color: #000000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: 0.3s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: #ff3131;
    color: #000000;
    border-radius: 20px;
}

.overlay-menu {
    background-color: #000000b8;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.menu-mobile .btn-fechar {
    padding: 25px 7%;
}

.menu-mobile .btn-fechar i {
    color: #ff3131;
    font-size: 30px;
}

/* ESTILO DO CABEÇALHO */

header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #727272;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

header .logo a img {
    max-width: 150px;
}

/*ESTILO DO TOPO DO SITE*/

.section.topo-do-site {
    padding: 40px 4%;
}

.section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
    flex-direction: column;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 44px;
    line-height: 50px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #ff3131;
    font-size: 60px;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 3s ease-in-out infinite alternate;
    max-width: 450px;
    margin-left: 0;
    opacity: 100%;
}

@keyframes flutuar {
    0% {
        top: -70px;
    }

    100% {
        top: -40px;
    }
}

/* ESTILO DAS ESPECIALIDADES */
section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid #fff;
    margin-top: 45px;
    transition: 0.5s;
    max-width: 800px;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
}

.especialidades .especialidades-box i {
    font-size: 80px;
    color: #ff3131;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */
section.sobre {
    padding: 100px 4%;
}

.sobre .img-sobre img {
    width: 550px;
    border-radius: 25px;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;

}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #ff3131;
    display: block;
}

.sobre .txt-sobre p {
    margin: 30px 0;
    text-align: justify;
}

.btn-social button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #ff3131;
    font-size: 24px;
    cursor: pointer;
    margin: 0 5px;
    transition: 0.2s;
}

/* ESTILO DO PORTFOLIO */
section.portfolio {
    padding: 80px 4%;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 80px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 4s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000097;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}

.overlay:hover {
    opacity: 1;
}

/* ESTILO DO FORMULARIO */
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: rgb(45, 45, 45);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 18px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    height: 200px;
    max-height: 400px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

.btn-enviar input{
    width: 120px;
    background-color: #ff3131;
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

/* ESTILO DO RODAPE */
footer {
    padding: 0px 4%;
    border-top: 4px solid #ffffff17;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #ff3131;
}

footer .line-footer p i {
    color: #ff3131;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
    font-size: 18px;
}

.logo-footer img {
    width: 150px;
}

@media screen and (max-width: 1020px) {
    /* MENU MOBILE */
    .btn-abrir-menu{
        display: block;
    }

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 30px;
        line-height: 30px;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: none
    }

    /* TOPO DO SITE */
    .section.topo-do-site {
        padding: 10px 8%;
    }

    .section.topo-do-site .flex {
        gap: 40px;
    }

    .topo-do-site h1 {
        font-size: 34px;
        line-height: 30px;
        text-align: center;
    }

    .topo-do-site .txt-topo-site p {
        padding: 0 6%;
    }

    .topo-do-site .img-topo-site img {
        width: 90%;
        margin-left: 25px;
    }

    .img-topo-site {
        text-align: center;
    }

    /* ESTILO DAS ESPECIALIDADES */
    section.especialidades {
        padding: 40px 8%;
    }

    /* ESTILO SOBRE */
    .sobre .img-sobre img {
        width: 350px;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 32px;
        text-align: center;
    }

    .sobre .txt-sobre p {
        padding: 0 2%;
    }

    .btn-social {
        text-align: center;
    }

    /* PORTFOLIO */
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
    }

    section.portfolio .flex {
        gap: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* RODA PE */
    footer .flex {
        flex-direction: column;
    }

    footer .line-footer {
        text-align: center;
    }
}
